
@{
    ViewBag.Title = ProjectUI.ProjectUI.lblContractorList;


}


<div class="card">
    <div class="card-block">
        @*<div class="row">
           
            <div class="col-md-12"> 
                <a href="@Url.Action("Save","Contractor")" class="btn btn-success @Resources.Common.PullRight" id="btnAddNewContractor"><i class="fa fa-plus">  </i> @HRModuleUI.HumanResourceUI.lblAddNew</a>
            </div>
        </div>*@



        <div class="grid-main-div">
            <div class="row">
                <div class="col-md-12">
                    <div id="contractor-grid"></div>
                </div>
            </div>

           

        </div>
    </div>
</div>

 

@section scripts {
    <script src="~/Scripts/FunctionalityJs/Areas/Contractor/contractor-grid.js?+971502324409"></script> 
    

}

