@************************************************ CODE Written by /\/\ati *********************************************************************@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>INMA</title>
</head>

<body>
    <div class="div-email-template" style="display:none;">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

            <!--HEADER -->

            <tbody>
                <tr>
                    <td align="center">
                        <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td align="center" valign="top" background="" bgcolor="#1D1D1D" style="">
                                        <table class="col-600" width="600" height="150" border="0" align="center" cellpadding="0" cellspacing="0" style="background: white;">

                                            <tbody>



                                                <tr>
                                                    <td align="center" style="line-height: 0px;">
                                                        @*<img style="display:block; line-height:0px;font-size:0px;border:0px;" src="https://www.shjengcon.com/wp-content/uploads/2020/10/SEC-Logo-2.svg" width="550" height="115" alt="logo">*@
                                                        
                                                         <img style="display:block; line-height:0px;font-size:0px;border:0px;"  src="https://i.postimg.cc/pyMyc8DY/shjc-Blue-logo.png" alt="shjc-Blue-logo" border="0"  width="400" height=""  >
                                                    </td>
                                                </tr>













                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>


                <!-- END HEADERR -->


                <tr>
                    <td align="center">
                        <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="/* margin-left:20px; *//* margin-right:20px; *//* border-left: 1px solid #dbd9d9; *//* border-right: 1px solid #dbd9d9; */background: white;">
                            <tbody>
                                <tr>
                                    <td height="35"></td>
                                </tr>

                                <tr>
                                    <td class="txt-project-title" align="" style="font-family: 'Raleway', sans-serif; font-size:22px;font-weight: bold; color:#333;padding-left: 20px;">Title </td>
                                </tr>

                                <tr>
                                    <td height="10"></td>
                                </tr>


                                <tr>
                                    <td class="txt-description" align="left" style="font-family: 'Lato', sans-serif; font-size:18px; color:#757575;line-height:24px;font-weight: 300;padding-left: 20px;">
                                    </td>
                                </tr>

                                <tr>
                                    <td height="40"></td>
                                </tr>
                                <tr>
                                    <td align="" style="font-family: 'Raleway', sans-serif;/* font-size:22px; */font-weight: bold;color:#333;padding-left: 20px;border-bottom: 0.5px solid;">Remarks</td>
                                </tr>

                                <tr>
                                    <td height="10"></td>
                                </tr>


                                <tr>
                                    <td class="txt-meeting-remarks" align="center" style="font-family: 'Lato', sans-serif;font-size:14px;color: red;line-height:24px;font-weight: 300;padding-left: 20px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="/* border-left: 1px solid #dbd9d9; *//* border-right: 1px solid #dbd9d9; */">
                                            <tbody>
                                                <tr>
                                                    <td height="50"></td>
                                                </tr>
                                                <tr>
                                                    <td align="right" style="border-top: 1px solid;">


                                                        <table class="col2" width="250" border="0" align="right" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center" style="line-height:0px;" hidden>
                                                                        <img style="display:none; line-height:0px; font-size:0px; border:0px;" class="images_style" src="" width="169" height="138">

                                                                    </td>
                                                                    <td class="client-signed-area" style="font-family: 'Raleway', sans-serif; color:#333; line-height:30px;font-weight: bold;padding-top: 46px;">Client Approval</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>






                                                        <table width="287" border="0" align="left" cellpadding="0" cellspacing="0" class="col2" style="">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center">
                                                                        <table class="insider" width="237" border="0" align="center" cellpadding="0" cellspacing="0">



                                                                            <tbody>
                                                                                <tr align="left">
                                                                                    <td style="font-family: 'Raleway', sans-serif; color:#333; line-height:30px;font-weight: bold;padding-top: 46px;">Client Approval</td>
                                                                                </tr>

                                                                                <tr>
                                                                                    <td height="5"></td>
                                                                                </tr>


                                                                                <tr>
                                                                                </tr>


                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="80"></td>
                                                                </tr>
                                                                <tr style="padding-left:20px;background: gainsboro;border-bottom:1px solid">
                                                                    <td style="padding-left:20px">
                                                                        <span class="     ">Meeting Date:</span>
                                                                        <span class="     meeting-date">  </span>
                                                                    </td>


                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="/* margin-left:20px; *//* margin-right:20px; */">



                                            <tbody>
                                                <tr>
                                                    <td align="center">
                                                        <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style=" border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>


                                                <tr>
                                                    <td align="center">
                                                        <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="/* border-left: 1px solid #dbd9d9; *//* border-right: 1px solid #dbd9d9; */">
                                                            <tbody>

                                                                <tr>
                                                                    <td align="center" bgcolor="#333" background="" height="100" style="background: #1A2E6B;">
                                                                        <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                            <tbody>


                                                                                <tr>
                                                                                    <td align="center" style="/* font-family: 'Raleway',  sans-serif; */ font-size: 26px; font-weight: 500; color: #1A2E6B; background-color: white; text-align: center;">Follow Us On Social Media</td>
                                                                                </tr>


                                                                                <tr>
                                                                                    <td height="25"></td>
                                                                                </tr>



                                                                            </tbody>
                                                                        </table><table align="center" width="35%" border="0" cellspacing="0" cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center" width="30%" style="vertical-align: top;">
                                                                                        <a href="https://twitter.com/Shjengcon" target="_blank"> <img src="https://webdevtrick.com/wp-content/uploads/icon-twitter.png"> </a>
                                                                                    </td>

                                                                                    <td align="center" class="margin" width="30%" style="vertical-align: top;">
                                                                                        <a href="https://www.facebook.com/shjengcon" target="_blank"> <img src="https://webdevtrick.com/wp-content/uploads/icon-fb.png"> </a>
                                                                                    </td>

                                                                                    <td align="center" width="30%" style="vertical-align: top;">
                                                                                        <a href="https://www.linkedin.com/company/shjengcon/" target="_blank"> <img src="https://icons.iconarchive.com/icons/sicons/basic-round-social/48/linkedin-icon.png"> </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>



                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>












                <tr>
                    <td align="center">
                        <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="/* margin-left:20px; *//* margin-right:20px; */">



                            <tbody>
                                <tr>
                                    <td align="center">
                                        <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style=" border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>










                            </tbody>
                        </table>
                    </td>
                </tr>

                <!-- END FOOTER -->

            </tbody>
        </table>
    </div>
</body>
</html>
