 

<div class="grid-main-div">
    <div class="row">
        <div class="col-md-12">

            <div id="SupervisionSection_Document_KendoGrid">

            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/FunctionalityJs/Areas/Project/project-technical-section-document-grid.js"></script>