
@{
    ViewBag.Title = ProjectUI.ProjectUI.lblMeeting;


}


<div class="card">
    <div class="card-block">
        <div class="row">

            <div class="col-md-12">
                <a href="@Url.Action("Save","Meeting")" class="hidden btn-add-new btn btn-success @Resources.Common.PullRight" id=""><i class="fa fa-plus">  </i> @ProjectUI.ProjectUI.lblAddNew</a>
            </div>
        </div>



        <div class="grid-main-div">
            <div class="row">
                <div class="col-md-12">
                    <div id="meeting-grid"></div>
                </div>
            </div>



        </div>
    </div>
</div>


@section scripts {

    <script src="~/Scripts/FunctionalityJs/Areas/Meetings/meeting-grid.js?+971502324409"></script>

}

