
@{
    ViewBag.Title = ProjectUI.ProjectUI.lblProject;


}


<div class="card">
    <div class="card-block"> 
        <div class="grid-main-div">
            <div class="row">
                <div class="col-md-12">
                    <div id="project-grid"></div>
                </div>
            </div>



        </div>
    </div>
</div>




@section scripts {
    <script src="~/Scripts/FunctionalityJs/Areas/Project/project-delay-grid.js?v=@System.Configuration.ConfigurationManager.AppSettings["JSVersion"]"></script>

}

