
@{
    ViewBag.Title = ProjectUI.ProjectUI.lblProject;


}


<div class="card">
    <div class="card-block">
        <div class="row">

            <div class="col-md-12">
                <a href="@Url.Action("Save","Project")" class="btn btn-success @Resources.Common.PullRight" id="btnAddNewClient"><i class="fa fa-plus">  </i> @ProjectUI.ProjectUI.lblAddNew</a>
            </div>
        </div>



        <div class="grid-main-div">
            <div class="row">
                <div class="col-md-12">
                    <div id="project-grid"></div>
                </div>
            </div>



        </div>
    </div>
</div>




@section scripts {
    <script src="~/Scripts/FunctionalityJs/Areas/Project/project-grid.js?+971502324409"></script>


}

