
@{
    ViewBag.Title = ProjectUI.ProjectUI.lblIssueList;


}


<div class="card">
    <div class="card-block">
        <div class="row">

            <div class="col-md-12" style="display:none;">
                <a href="@Url.Action("Save","Issue")" class="btn btn-success @Resources.Common.PullRight" id=""><i class="fa fa-plus">  </i> @ProjectUI.ProjectUI.lblAddNew</a>
            </div>
        </div>



        <div class="grid-main-div">
            <div class="row">
                <div class="col-md-12">
                    <div id="issue-grid"></div>
                </div>
            </div>



        </div>
    </div>
</div>




@section scripts {
     
    <script src="~/Scripts/FunctionalityJs/Areas/Issues/issue-grid.js?v=@System.Configuration.ConfigurationManager.AppSettings["JSVersion"]"></script>
}

