
@{
    ViewBag.Title = ProjectUI.ProjectUI.lblIssueDetails;
}
<div class="card">
    <div class="card-block">
        <div class="row">
            <ul class="nav nav-tabs  tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#IssueInfo" role="tab">@ProjectUI.ProjectUI.lblIssueInformation</a>
                </li>

            </ul>


            <!-- Tab panes -->
            <div class="tab-content tabs card-block">
                <div class="tab-pane active" id="IssueInfo" role="tabpanel">
                    @{
                        Html.RenderPartial("~/Areas/Project/Views/Shared/PartialViews/Issue/_IssueSave.cshtml");
                    }
                </div>


            </div>
        </div>


    </div>
</div>




@section scripts {
    <script src="~/Scripts/FunctionalityJs/Areas/Issues/issue-info-save.js?v=@System.Configuration.ConfigurationManager.AppSettings["JSVersion"]"></script>
}



